<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>uiRes/zanting_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{957,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{957,100}</string>
			</dict>
			<key>uiRes/js_maximize.png</key>
			<dict>
				<key>frame</key>
				<string>{{151,106},{173,174}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{173,174}</string>
			</dict>
			<key>uiRes/js_minimize.png</key>
			<dict>
				<key>frame</key>
				<string>{{904,873},{95,95}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{95,95}</string>
			</dict>
			<key>uiRes/js_next.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,724},{488,190}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{488,190}</string>
			</dict>
			<key>uiRes/js_progress.png</key>
			<dict>
				<key>frame</key>
				<string>{{329,282},{623,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{623,56}</string>
			</dict>
			<key>uiRes/js_progress_bar.png</key>
			<dict>
				<key>frame</key>
				<string>{{151,460},{623,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{623,56}</string>
			</dict>
			<key>uiRes/special_gift_bar.png</key>
			<dict>
				<key>frame</key>
				<string>{{963,2},{718,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{718,56}</string>
			</dict>
			<key>uiRes/special_gift_progress.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,918},{718,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{718,56}</string>
			</dict>
			<key>uiRes/FreeCoins_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{557,106},{164,164}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{164,164}</string>
			</dict>
			<key>uiRes/FreeCoins_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{725,106},{164,164}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{164,164}</string>
			</dict>
			<key>uiRes/yx_home.png</key>
			<dict>
				<key>frame</key>
				<string>{{778,342},{164,164}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{164,164}</string>
			</dict>
			<key>uiRes/yx_pause.png</key>
			<dict>
				<key>frame</key>
				<string>{{778,510},{164,164}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{164,164}</string>
			</dict>
			<key>uiRes/yx_replay.png</key>
			<dict>
				<key>frame</key>
				<string>{{353,520},{164,164}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{164,164}</string>
			</dict>
			<key>uiResBeta2/yx_skip.png</key>
			<dict>
				<key>frame</key>
				<string>{{724,873},{176,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{176,128}</string>
			</dict>
			<key>uiResBeta2/yx_ads_num.png</key>
			<dict>
				<key>frame</key>
				<string>{{428,342},{74,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{74,74}</string>
			</dict>
			<key>uiResBeta2/yx_ads_new.png</key>
			<dict>
				<key>frame</key>
				<string>{{962,724},{17,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{17,50}</string>
			</dict>
			<key>uiRes/yx_icon.png</key>
			<dict>
				<key>frame</key>
				<string>{{521,520},{164,164}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{164,164}</string>
			</dict>
			<key>uiRes3/nottip.png</key>
			<dict>
				<key>frame</key>
				<string>{{494,724},{464,145}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{464,145}</string>
			</dict>
			<key>uiRes3/newBottom.png</key>
			<dict>
				<key>frame</key>
				<string>{{353,106},{200,172}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,172}</string>
			</dict>
			<key>uiRes3/logintips.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,574},{347,108}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{347,108}</string>
			</dict>
			<key>uiRes/Gift_watch1.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,106},{464,145}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{464,145}</string>
			</dict>
			<key>uiRes5/js_maximize2.png</key>
			<dict>
				<key>frame</key>
				<string>{{151,283},{173,174}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{173,174}</string>
			</dict>
			<key>uiRes5/js_minimize2.png</key>
			<dict>
				<key>frame</key>
				<string>{{329,342},{95,95}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{95,95}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>gamePlist_1.png</string>
			<key>realTextureFileName</key>
			<string>gamePlist_1.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>