<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>uiRes/zy_ads.png</key>
			<dict>
				<key>frame</key>
				<string>{{784,520},{122,121}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{122,121}</string>
			</dict>
			<key>uiRes/zy_progress.png</key>
			<dict>
				<key>frame</key>
				<string>{{452,709},{236,92}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{236,92}</string>
			</dict>
			<key>uiRes/zy_progressbg.png</key>
			<dict>
				<key>frame</key>
				<string>{{544,520},{236,92}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{236,92}</string>
			</dict>
			<key>uiRes/gamecenter_app.png</key>
			<dict>
				<key>frame</key>
				<string>{{548,864},{113,111}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{113,111}</string>
			</dict>
			<key>uiRes/js_level.png</key>
			<dict>
				<key>frame</key>
				<string>{{372,151},{212,213}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{212,213}</string>
			</dict>
			<key>uiRes/Gift_close.png</key>
			<dict>
				<key>frame</key>
				<string>{{907,662},{113,112}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{113,112}</string>
			</dict>
			<key>uiRes/xb_medal1.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,866},{140,158}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{140,158}</string>
			</dict>
			<key>uiRes/xb_medal2.png</key>
			<dict>
				<key>frame</key>
				<string>{{164,804},{140,158}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{140,158}</string>
			</dict>
			<key>uiRes/money.png</key>
			<dict>
				<key>frame</key>
				<string>{{313,709},{90,116}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{90,116}</string>
			</dict>
			<key>uiRes/Money_add.png</key>
			<dict>
				<key>frame</key>
				<string>{{674,723},{97,97}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{97,97}</string>
			</dict>
			<key>uiRes/Money_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{215,520},{280,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{280,94}</string>
			</dict>
			<key>uiResBeta2/DR_Today.png</key>
			<dict>
				<key>frame</key>
				<string>{{949,160},{160,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{160,59}</string>
			</dict>
			<key>uiResBeta2/zy_info_new.png</key>
			<dict>
				<key>frame</key>
				<string>{{949,456},{29,29}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{29,29}</string>
			</dict>
			<key>uiRes3/xb_medal1_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{308,804},{140,158}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{140,158}</string>
			</dict>
			<key>uiRes3/xb_medal2_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{313,547},{140,158}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{140,158}</string>
			</dict>
			<key>uiRes3/lock.png</key>
			<dict>
				<key>frame</key>
				<string>{{910,520},{103,138}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{103,138}</string>
			</dict>
			<key>uiRes3/onepix.png</key>
			<dict>
				<key>frame</key>
				<string>{{1003,2},{1,1}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{1,1}</string>
			</dict>
			<key>uiRes3/newPLayerBoxBt.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{584,145}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{584,145}</string>
			</dict>
			<key>uiRes3/newPLayerBoxm.png</key>
			<dict>
				<key>frame</key>
				<string>{{215,320},{196,145}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{196,145}</string>
			</dict>
			<key>uiRes3/newPLayerBoxNoads.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,320},{208,209}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{208,209}</string>
			</dict>
			<key>uiRes3/shop_half.png</key>
			<dict>
				<key>frame</key>
				<string>{{663,893},{111,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{111,110}</string>
			</dict>
			<key>uiRes3/WAP_btn.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,151},{366,165}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{366,165}</string>
			</dict>
			<key>uiRes3/selectNo.png</key>
			<dict>
				<key>frame</key>
				<string>{{590,2},{409,154}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{409,154}</string>
			</dict>
			<key>uiRes3/zy_updatenew.png</key>
			<dict>
				<key>frame</key>
				<string>{{949,324},{128,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{128,70}</string>
			</dict>
			<key>uiRes5/gamecenter_android.png</key>
			<dict>
				<key>frame</key>
				<string>{{548,616},{122,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{122,120}</string>
			</dict>
			<key>uiRes5/zy_btn_l.png</key>
			<dict>
				<key>frame</key>
				<string>{{589,160},{176,176}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{176,176}</string>
			</dict>
			<key>uiRes5/zy_btn_s.png</key>
			<dict>
				<key>frame</key>
				<string>{{769,160},{176,176}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{176,176}</string>
			</dict>
			<key>uiRes5/zy_details.png</key>
			<dict>
				<key>frame</key>
				<string>{{589,340},{176,176}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{176,176}</string>
			</dict>
			<key>uiRes5/zy_email.png</key>
			<dict>
				<key>frame</key>
				<string>{{781,645},{122,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{122,120}</string>
			</dict>
			<key>uiRes5/zy_home.png</key>
			<dict>
				<key>frame</key>
				<string>{{769,340},{176,176}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{176,176}</string>
			</dict>
			<key>uiRes5/zy_info.png</key>
			<dict>
				<key>frame</key>
				<string>{{548,740},{122,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{122,120}</string>
			</dict>
			<key>uiRes5/zy_set.png</key>
			<dict>
				<key>frame</key>
				<string>{{364,367},{176,176}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{176,176}</string>
			</dict>
			<key>uiRes5/zy_shop.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,532},{176,176}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{176,176}</string>
			</dict>
			<key>uiRes5/zy_cloud.png</key>
			<dict>
				<key>frame</key>
				<string>{{775,769},{122,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{122,120}</string>
			</dict>
			<key>uiRes5/xb_back2.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,712},{150,152}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{150,152}</string>
			</dict>
			<key>uiRes5/zy_user.png</key>
			<dict>
				<key>frame</key>
				<string>{{901,778},{122,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{122,120}</string>
			</dict>
			<key>uiRes6/jiantou.png</key>
			<dict>
				<key>frame</key>
				<string>{{674,616},{103,103}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{103,103}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>startPlist_1.png</string>
			<key>realTextureFileName</key>
			<string>startPlist_1.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>